.App {
  background-color: #dfebe5;
}

.App .container {
  background-color: #065f46;
  max-width: 960px;
  padding: 60px;
  border: 3px double #facc15;
  border-radius: 4px;
}

.App .App-header {
  text-align: center;
  padding: 0 0 30px;
  color: #fff;
}

.App h1 {
  font-size: calc(3.375rem + 1.5vw);
  font-weight: 700;
  text-shadow: 1px 2px 1px #111827, 2px 3px 0px #facc15;
}

@media (max-width: 575px) {
  .App .container {
    padding: 40px 20px;
  }

  .App h1 {
    font-size: calc(2.375rem + 1.5vw);
  }

  .App .App-header {
    padding: 0;
  }
}
