.App {
  background-color: #e5e7eb;
}

.App .container {
  background-color: rgb(176, 156, 196);
  padding: 60px 30px;
  border-radius: 4px;
}

.App .App-header {
  text-align: center;
  padding: 0 0 30px;
}

/* 
Colours: 
#1E3A8A //Deep Blue
#065f46 //Deep Green
#FACC15 // Yellow highlight
#6D28D9 or #9333EA //Bright Purple
#F9FAFB //Off-white

 text: 
  primary: '#111827',
  secondary: '#374151

*/
